## One variable containing string, list, float, tuple data types.

In [1]:
x = [ "PW skills", [1,2,3,4], 2.75, (10, 20, 30,40)]
print(x)

['PW skills', [1, 2, 3, 4], 2.75, (10, 20, 30, 40)]

## Finding types of given variables.

In [4]:
var1 = ''                              ## sequence of character enclosed in single quote, double quote or even triple quotes. Strings are immutable.
var2 = '[ DS , ML , Python]'           ## there is list enclosed in single quote which became a list.
var3 = [ 'DS' , 'ML' , 'Python' ]      ## A list can have strings, tuples , list , integers as its elements.
var4 = 1                               ## As 1 is not in enclosed quote so it is a integer data type.
         
type(var1), type(var2), type(var3), type(var4)

(str, str, list, int)

## use of '/', '%', '//', '**' operators.

In [5]:
## / is division operator whics always returns float value of quotient.

a = 4/3
print(a)

## % is a modulo operator provides remainder value as output.

b = 12% 11
print(b)

## // is a floor division operator which returns integer value.

c= 5//4
print(c)

## ** is exponentiation operator like x**y.
d = 5**3
print(d)

1.3333333333333333
1
1
125

## Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [11]:
Mylist = [ 1, {2,3,4, 'dict', (4,5)}, [67, ' list', 4,5], "pw skills", (3,4,5), 7.6, "datatype", 6,7,9]

for item in Mylist:
    print(item, type(item))

1 <class 'int'>
{'dict', 2, 3, 4, (4, 5)} <class 'set'>
[67, ' list', 4, 5] <class 'list'>
pw skills <class 'str'>
(3, 4, 5) <class 'tuple'>
7.6 <class 'float'>
datatype <class 'str'>
6 <class 'int'>
7 <class 'int'>
9 <class 'int'>

##  Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [14]:
A = int(input("Enter number: "))
B = int(input("Enter number: "))

count = 0  

while A % B == 0:
    A = A // B 
    count += 1  

if count > 0:
    print(f"Number A is divisible by B. It can be divided {count} times.")
else:
    print("Number A is not divisible by B.")

Enter number: 1024
Enter number: 2
Number A is divisible by B. It can be divided 10 times.

## Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [17]:
list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in list:
    if (i%3==0):
        print(i,"is divisble by 3.")
    else:
        print(i,"is not divisble by 3.")

1 is not divisble by 3.
2 is not divisble by 3.
3 is divisble by 3.
4 is not divisble by 3.
5 is not divisble by 3.
6 is divisble by 3.
7 is not divisble by 3.
8 is not divisble by 3.
9 is divisble by 3.
10 is not divisble by 3.
11 is not divisble by 3.
12 is divisble by 3.
13 is not divisble by 3.
14 is not divisble by 3.
15 is divisble by 3.
16 is not divisble by 3.
17 is not divisble by 3.
18 is divisble by 3.
19 is not divisble by 3.
20 is not divisble by 3.
21 is divisble by 3.
22 is not divisble by 3.
23 is not divisble by 3.
24 is divisble by 3.
25 is not divisble by 3.

##  What do you understand about mutable and immutable data types? Give examples for both showing this property

In [30]:

## MUTABLE DATATYPES - When a program runs, data objects in the program are stored in the computer's memory for processing.
## while some of these objects can be modified at the memory location, other's can not be modified once they are stored in memory location.
## The property of whether or not data objects can be modified in the memory location where they are stored is called Mutability.
## list and dictionary are mutable datatypes.

## mutable data type -- where you can modify, append, delete the data objects at the stored memory location.
## immutable datatype -- where you can not modify, append, delete the data objects at the stored memory location.

## list

a = [5,10,15]
print(id(a))  ## output is 2572331243712

a[1] = 25
print(a)     ## output is [5,25,15]

print(id(a))  ## output is 2572332082624 which is the same memory address that means list is mutable at the stored memory location


## dictionary

b = {'name': 'John', 'age': 25, 'city': 'New York'}
print(id(b))           ## output is 2572332911808

b['age'] = 26
b['city'] = 'San Francisco'
b['occupation'] = 'Engineer'

print(b)
print(id(b))           ## output is 2572332911808 which means dict is also mutable datatype.



## integer, string and tuples are immutable datatypes.

## integer

x = 5
print(x) ## Output: 5 and memory address is 2572248246704

print(id(x))

x += 1
print(x)  ## Output: 6 and memory address is 2572248246736
print(id(x))
## x is assigned the value 5, but when we attempt to modify it by adding 1 to it,a new integer object 6 is created and assigned to x

## string

name = "Alice"
print(name)  ## Output: Alice

print(id(name))  ## memory location : 2572331809648

name += " Smith"
print(name)  ## Output: Alice Smith
print(id(name))  ## memory location : 2572332910896


## tuple 

my_tuple = (1, 2, 3)
print(my_tuple)
print(id(my_tuple))  ## stored location is 2572327335232

# Attempting to modify the tuple
my_tuple += (4,)
print(my_tuple)  
print(id(my_tuple))   ## stored location is 2572332915664

2572333030400
[5, 25, 15]
2572333030400
2572332868160
{'name': 'John', 'age': 26, 'city': 'San Francisco', 'occupation': 'Engineer'}
2572332868160
5
2572248246704
6
2572248246736
Alice
2572332077872
Alice Smith
2572331576560
(1, 2, 3)
2572327335232
(1, 2, 3, 4)
2572332915664